.venv
.venv/*

**/.DS_Store

src/__pycache__/*
src/__pycache__/
src/**/__pycache__/*
src/**/__pycache__/
src/utils/__pycache__/

src/overlays/main-bg.png
src/overlays/secondary-bg.png
src/input/kid-dance.mp4